/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

section.aatc-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

div.aatc-left-bar {
  background-color: #174a5f;
  max-height: 100vh;
  width: 30%;
  padding: 20px;
  color: #fff;
  border: 5px solid #c98100;
}

div.aatc-left-bar h2 {
  text-transform: uppercase;
  padding-bottom: 0px;
  margin: 0;
  color: #fff;
  font-size: 25px;
  padding-bottom: 5px;
}

.section-title {
  border-bottom: 2px solid #fff;
  padding: 5px;
  margin-bottom: 18px;
}

div.aatc-right-bar {
  background-color: rgb(180, 180, 180);
  width: 65%;
  margin: 0 10px;
  padding: 20px;
}

button.aatc_button {
  padding: 5px 27px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;
  color: #fff;
  font-size: 15px;
}

button.aatc_button.edit {
  background-color: #0073aa;
}

button.aatc_button.submit {
  padding: 14px 36px;
  background-color: #0073aa;
}
button.aatc_button.submit:hover {
  padding: 14px 36px;
  background-color: #0073aac9;
}

button.aatc_button.edit {
  background-color: #0074aac0;
}

button.aatc_button.delete {
  background-color: red;
}

button.aatc_button.delete {
  background-color: red;
}

button.aatc_button.delete:hover {
  background-color: rgba(255, 0, 0, 0.623);
}

#aatc_list tr {
  text-align: center;
}

#aatc-form .form-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#aatc-form .form-group label {
  width: 30%;
}
#aatc-form .form-group select {
  width: 70%;
}
#aatc-form fieldset {
  border: 2px solid #c98100;
  padding: 10px;
  margin-top: 20px;
}

#aatc-form fieldset legend {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 10px;
}
#aatc-form .chosen-container {
  padding: 7px;
}

p input.aatc_button.deactivate {
  background-color: red;
  color: #fff;
}

p input.aatc_button.activate {
  background-color: green;
  color: #fff;
}

a.aatc-edit-rule {
  color: #ffffff !important;
  border-color: #0071a1;
  background: #0071a1;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 19px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: top;
}
